.gana-artists-section{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px;
    overflow: scroll;
    
}
.gana-artists-section::-webkit-scrollbar {
    display: none;
  }

  