*{
  margin: 0;
  padding: 0;
}
body{
  color: white;
  background-color: #0f0f0f;
  text-wrap: nowrap;
  overflow-x: hidden;
}

.no-white-hover .your-element-class:hover {
  color: initial-color !important;
}


.no-white-hover *:hover {
  color: inherit !important;
}

